

* {
  box-sizing: border-box;
  
}

body{
    margin: 0;
    font-family: serif, Cochin, Georgia, Times, 'Times New Roman';
    background-color: rgb(245, 232, 220);
   
}

header{
  font-size: 50px;
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
  background-image: url(https://images.squarespace-cdn.com/content/v1/56169f27e4b0f7e781b7b327/1446499966975-1Q70P9LSLDH02BZB732G/110824_8686-800.jpg);
  background-size: cover;
  background-position: center; 
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 3em;
  color: midnightblue;
  position: relative; top: 30px;
}

ul {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: flex-start;
  width: 75%;
  margin-left: 200px;
  /* border: 2px solid black; */
  position: relative; top: -300px; left: ;
}


 li {
  padding-top: 2em;
  height: 350px;
  width: 50%;
  text-align: center;
  list-style-type: none;
  color: midnightblue(169, 169, 169, 0.26);
  
}


.beside {
  display: flex;
  flex-direction: column; 
  padding: 50px;
  text-align: left;
  width: 15%;
  /* border: 2px solid black; */

  
}



.topnav {
  display: flex;
  justify-content: space-evenly;
  background-color: steelblue;
  width: 100%;
  
}

.topnav a {
  padding: 15px 15px;
  text-align: center;
  width: 10%;
  font-weight: bold; 
}





.photo {
  width: 700px;
  color: black;
  background-color: rgb(194, 204, 214);
  border: 1 px dotted #13293d;
  font-size: 2.5em;
  background-image: url(https://google.com);
}


.title-link {
background-image: url(https://google.com);

}


.photo2 {
  font-size: 2em;
  color: black;
  background-color: rgb(194, 204, 214);
  border: 1 px dotted #13293d;
}

#graphy {
  height: 200px;
  text-align: left;
  position: relative; left: -135px;

}

.photo:hover {
  box-shadow: inset 0px 0px 8px 
}

.photo2:hover {
  box-shadow: inset 0px 0px 8px 
}

